$textCenter:center;
$col:#f0f0f0;
$RED: #E4002B;
$justifyContentCenter: center;
$alignItemsCenter: center;
$row:row;

.App {
  text-align: $textCenter;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $col;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redButton {

    height: 44;

    background-color: $RED;

    justify-content: $justifyContentCenter;

    align-items: $alignItemsCenter;

    flex-direction: $row;

    border-radius: 200;

  }